<div class="blog {{#if user}}grid_3{{else}} grid_2{{/if}}">
    {{#if user}}
    <div class="public_content">{{/if}}


    <div class="sort-area">
        <p>Sort by:</p>
        <button title="Sort by title" onclick="sortArticles('title',{{user.user_id}})">Title</button>
        <button title="Sort by date" onclick="sortArticles('date',{{user.user_id}})">Date</button>
        <button title="Sort by author name" onclick="sortArticles('author_name',{{user.user_id}})">Author name</button>
    </div>

    <div class="articles">

        {{#if articles}}

            <div class="showArticles">
                {{#each articles as |article|}}
                    <div class="article">
                        <h2 class="click" onclick="toggleContent(this)">{{article.title}}</h2>
                        <p>By: <em>{{article.author_name}}</em></p>
                        <p class="small_font">{{article.date}}</p>

                        <p class="article_content hidden">{{article.content}}</p>

                        <!-- --------------------------------like  comment  delete 按钮                       -->
                        <div class="buttons">
                            <!-- ----------------------------like button-->
                            <button class="heart_btn" title=" Like"
                                    onclick="likeArticle(event,{{article.articleId}},{{../user.user_id}})"
                                    {{#unless ../user}}disabled{{/unless}}><img class="heart"
                                                                                src="./image/heart.jpg"><span
                                    class="like_{{article.articleId}}"> × {{article.likes}}</span></button>

                            <!-- ----------------------------comment button-->
                            <button class="comment_btn" title=" Comment"
                                    onclick="fetchAndShowComments({{article.articleId}},{{../user.user_id}})"
                                    {{#unless ../user}}disabled{{/unless}}><img class="comment"
                                                                                src="./image/comment_icon.jpg">
<!--                                <span class="comment_{{article.articleId}}"> × {{article.comments}}</span>-->
                            </button>


                            <!-- ----------------------------delete button-->
                            <button class="delete_btn" title=" Delete article"  data-article-id="{{article.articleId}}"
                                    onclick="deleteArticle(this,{{../user.user_id}})"
                                    {{#unless ../user}}disabled{{/unless}} ><img class="delete"
                                                                                 src="./image/delete_icon.jpg">
                            </button>
                        </div>

                        <!-- - -------------------------评论区-->
                        <div class="comment_area">
                            <input type="text" id="comment_content_{{article.articleId}}" class=" input comment_content_{{article.articleId}}" name="content"
                                   placeholder="Say something">
                            <button class="comment_add_btn" title=" Comment"  onclick="addParentComment(this,{{../user.user_id}})"
                                    data-comment-id="{{article.articleId}}">
                                <img src="./image/add_comment.jpg" class="add_comment"></button>
                        </div>


                        <div class="comments">
                            <!--                            comment test-->
                            <!--                            <div class="comment_content_div">-->
                            <!--                                <div class="comment_head">-->
                            <!--                                    <div><img class="commenter_avatar" src="./avatar/avatar01.jpg">-->
                            <!--                                        <span>By:testUser</span></div>-->
                            <!--                                    <div>-->
                            <!--                                        <button class="comment_reply_btn"><img src="./image/reply.jpg" class="reply">-->
                            <!--                                        </button>-->
                            <!--                                        <button class="comment_delete_btn"><img class="comment_delete"-->
                            <!--                                                                                src="./image/delete_icon.jpg"></button>-->
                            <!--                                    </div>-->

                            <!--                                </div>-->
                            <!--                                <p class="comment_content">I'm the test comment.</p>-->

                            <!--                                <div class="comment_area">-->
                            <!--                                    <input type="text" id="comment_{{article.articleId}}" class=" input" name="content"-->
                            <!--                                           placeholder="Say something">-->
                            <!--                                    <img src="./image/add_comment.jpg" class="add_comment">-->
                            <!--                                </div>-->

                            <!--                                &lt;!&ndash;子评论区&ndash;&gt;-->
                            <!--                                <div class="comment_comments_div">-->
                            <!--                                    <div class="comment_head">-->
                            <!--                                        <div><img class="commenter_avatar" src="./avatar/avatar01.jpg">-->
                            <!--                                            <span>By:testUser</span></div>-->
                            <!--                                        <div>-->
                            <!--                                            <button class="comment_reply_btn"><img src="./image/reply.jpg"-->
                            <!--                                                                                   class="reply">-->
                            <!--                                            </button>-->
                            <!--                                            <button class="comment_delete_btn"><img class="comment_delete"-->
                            <!--                                                                                    src="./image/delete_icon.jpg">-->
                            <!--                                            </button>-->
                            <!--                                        </div>-->

                            <!--                                    </div>-->
                            <!--                                    <p class="comment_content">I'm the test comment.</p>-->
                            <!--                                    <div class="comment_area">-->
                            <!--                                        <input type="text" id="comment_{{article.articleId}}" class=" input"-->
                            <!--                                               name="content"-->
                            <!--                                               placeholder="Say something">-->
                            <!--                                        <img src="./image/add_comment.jpg" class="add_comment">-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash;子评论区 end&ndash;&gt;-->
                            <!--                            </div>-->
                            <!--                            test 结束-->

                            <!--                comment insert area-->
                            <div class="comment_insert_area_{{article.articleId}}"></div>
                        </div>

                        <!--                        每篇文章的div结束-->
                    </div>
                    <!--每篇文章结束-->
                {{/each}}
            </div>

            <!--            如果没有文章的话------If there are no articles.-------------------->
        {{else}}
            <p>No articles yet</p>
        {{/if}}
    </div>
    {{#if user}}</div>{{/if}}



    {{#if user}}

        <div class="user_profile">

            <div class="user_avatar">
                {{#if user.avatar}}
                    <img src="./avatar/{{user.avatar}}.jpg">
                {{else}}
                    <img src="./image/avatar_profile.jpg">
                {{/if}}
            </div>

            {{#if user.real_name}}
                <p><strong>Real name</strong>: {{user.real_name}}</p>
            {{/if}}

            <p><strong>Username</strong>: {{user.userName}}</p>

            {{#if user.date_of_birth}}
                <p><strong>Date of birth</strong>: {{user.date_of_birth}}</p>
            {{/if}}

            {{#if user.description}}
                <p><strong>About me</strong>: <br>{{user.description}}</p>
            {{/if}}


        </div>

        <div class="user_content">
            <div class="writer">
                <button title="Craft a story" id="create_article_btn">Craft a Story</button>

                <div id="articleModal" style="display:none;">
                    <input type="text" id="new_article_title" placeholder="Enter title here"/>
                    <textarea id="myeditor"></textarea>
                    <button title="Submit Article" id="submitArticle" value="{{user.user_id}}">Launch Your Story</button>
                </div>
            </div>


            <h2>Blogosphere of <em>{{user.userName}}</em>:</h2>
            <!--------------------------------------------用户文章------------------->
            {{#if user_articles}}

                <div class="user_articles">
                    {{#each user_articles as |article|}}
                        <div class="article">
                            <h2 class="click" onclick="toggleContent(this)"><button class="article_edit_btn" title="Edit Article" data-article-id="{{article.articleId}}">
                                <img src="./image/edit.jpg" class="edit_article"> </button>{{article.title}}</h2>





                            <p>Cooked up in my brain kitchen!</p>
                            <p class="small_font">{{article.date}}</p>

                            <p class="article_content hidden">{{article.content}}</p>
                            <div class="buttons">
                                <button class="heart_btn" title=" Like"
                                        onclick="likeArticle(event,{{article.articleId}},{{../user.user_id}})"><img
                                        class="heart" src="./image/heart.jpg"><span
                                        class="like_{{article.articleId}}"> × {{article.likes}}</span>
                                </button>


                                <button class="comment_btn" title=" Comment"
                                        onclick="fetchAndShowComments({{article.articleId}},{{../user.user_id}})"><img
                                        class="comment"
                                        src="./image/comment_icon.jpg">
<!--                                    <span class="comment_{{article.articleId}}"> × {{article.comments}}</span>-->
                                </button>

                                <button class="delete_btn" title=" Delete article"  data-article-id="{{article.articleId}}"
                                        onclick="deleteArticle(this,{{../user.user_id}})"><img class="delete"
                                                                                               src="./image/delete_icon.jpg">
                                </button>
                            </div>

                            <!--                        comment-->
                            <div class="comment_area">
                                <input type="text" id="comment_{{article.articleId}}" class=" input comment_content_{{article.articleId}}" name="content"
                                       placeholder="Say something">
                                <button class="comment_add_btn" title=" Comment"  onclick="addParentComment(this,{{../user.user_id}})"
                                        data-comment-id="{{article.articleId}}">
                                    <img src="./image/add_comment.jpg" class="add_comment"></button>
                            </div>


                            <div class="comments">
                                <div class="comment_insert_area_{{article.articleId}}"></div>

                            </div>

                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>

    {{/if}}
</div>

<!----------------edit article window-------------->
<!--<div id="editArticleModal" class="modal">-->
<!--    <div class="modal-content">-->
<!--        <div class="writer">-->
<!--            <div id="articleModal" >-->
<!--                <input type="text" id=${article.articleId} value="${article.title}" >-->
<!--                <textarea id="myeditor"> ${article.content}</textarea>-->
<!--                <button title="Submit Article" id="submitEditedArticle" value="{{user.user_id}}">Launch Your Story</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <span class="close">&times;</span>-->
<!--    </div>-->
<!--</div>-->






<script src="./controllers/articleController.js"></script>
<script src="./controllers/commentController.js"></script>

<!-- 引入 TinyMCE -->
<script src="https://cdn.tiny.cloud/1/63y2dc6cqm923nybkho0h8xv1swcz2ndtei7di45ujnu2rte/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

<script>


    document.addEventListener('DOMContentLoaded', function () {
        // 初始化 TinyMCE 编辑器
        tinymce.init({
            selector: '#myeditor',
            plugins: 'lists link image',
            toolbar: 'undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
        });
    });
</script>
