<div class="blog {{#if user}}grid_3{{else}} grid_2{{/if}}">
    {{#if user}}
    <div class="public_content">{{/if}}
       <div class="sort-area">
        <p>Sort by:</p>
        <button title="Sort by title" onclick="sortArticles('title',{{user.user_id}})">Title</button>
        <button title="Sort by date" onclick="sortArticles('date',{{user.user_id}})">Date</button>
        <button title="Sort by author name" onclick="sortArticles('author_name',{{user.user_id}})">Author name</button>
    </div>

    <div class="articles">

        {{#if articles}}
            <div class="showArticles">
                {{#each articles as |article|}}
                    <div class="article">
                        <h2 class="click" onclick="toggleContent(this)">{{article.title}}</h2>
                        <p>By: <em>{{article.author_name}}</em></p>
                        <p class="small_font">{{article.date}}</p>

                        <p class="article_content hidden">{{article.content}}</p>

                        <!----------------------------------like  comment  delete btns------------------------>
                        <div class="buttons">
                            <!-- ----------------------------like button-->
                            <button class="heart_btn" title=" Like"
                                    onclick="likeArticle(event,{{article.articleId}},{{../user.user_id}})"
                                    {{#unless ../user}}disabled{{/unless}}>
                                    <img class="heart" src="./image/heart.jpg">
                                    <span class="like_{{article.articleId}}"> × {{article.likes}}</span>
                            </button>

                            <!-- ----------------------------comment button-->
                            <button class="comment_btn" title=" Comment"
                                    onclick="fetchAndShowComments({{article.articleId}},{{../user.user_id}})"
                                    {{#unless ../user}}disabled{{/unless}}>
                                    <img class="comment" src="./image/comment_icon.jpg">
                            </button>


                            <!-- ----------------------------delete button-->
                            <button class="delete_btn" title=" Delete article"  data-article-id="{{article.articleId}}"
                                    onclick="deleteArticle(this,{{../user.user_id}})"
                                    {{#unless ../user}}disabled{{/unless}} ><img class="delete" src="./image/delete_icon.jpg">
                            </button>
                        </div>

                        <!-- - -------------------------comment area-->
                        <div class="comment_area">
                            <input type="text" id="comment_content_{{article.articleId}}" class=" input comment_content_{{article.articleId}}" name="content"
                                   placeholder="Say something">
                            <button class="comment_add_btn" title=" Comment"  onclick="addParentComment(this,{{../user.user_id}})"
                                    data-comment-id="{{article.articleId}}">
                                <img src="./image/add_comment.jpg" class="add_comment"></button>
                        </div>


                        <div class="comments">
                            <div class="comment_insert_area_{{article.articleId}}"></div>
                        </div>

                        <!--            indivisual article div end point    -->
                    </div>
                    <!--indivisual articel end point-->
                {{/each}}
            </div>

            <!---------------------If there are no articles.-------------------->
        {{else}}
            <p>No articles yet</p>
        {{/if}}
    </div>
    {{#if user}}</div>{{/if}}



    {{#if user}}

        <div class="user_profile">

            <div class="user_avatar">
                {{#if user.avatar}}
                    <img src="./avatar/{{user.avatar}}.jpg">
                {{else}}
                    <img src="./image/avatar_profile.jpg">
                {{/if}}
            </div>

            {{#if user.real_name}}
                <p><strong>Real name</strong>: {{user.real_name}}</p>
            {{/if}}

            <p><strong>Username</strong>: {{user.userName}}</p>

            {{#if user.date_of_birth}}
                <p><strong>Date of birth</strong>: {{user.date_of_birth}}</p>
            {{/if}}

            {{#if user.description}}
                <p><strong>About me</strong>: <br>{{user.description}}</p>
            {{/if}}


        </div>

        <div class="user_content">
            <div class="writer">
                <button title="Craft a story" id="create_article_btn">Craft a Story</button>

                <div id="articleModal" style="display:none;">
                    <input type="text" id="new_article_title" placeholder="Enter title here"/>
                    <textarea id="myeditor"></textarea>
                    <button title="Submit Article" id="submitArticle" value="{{user.user_id}}">Launch Your Story</button>
                </div>
            </div>


            <h2>Blogosphere of <em>{{user.userName}}</em>:</h2>
            <!--------------------------------------------user articles------------------->
            {{#if user_articles}}
                <div class="user_articles">
                    {{#each user_articles as |article|}}
                        <div class="article">
                            <h2 class="click" onclick="toggleContent(this)"><button class="article_edit_btn" title="Edit Article" data-article-id="{{article.articleId}}">
                                <img src="./image/edit.jpg" class="edit_article"> </button>{{article.title}}</h2>

                            <p>Cooked up in my brain kitchen!</p>
                            <p class="small_font">{{article.date}}</p>

                            <p class="article_content hidden">{{article.content}}</p>
                            <div class="buttons">
                                <button class="heart_btn" title=" Like"
                                        onclick="likeArticle(event,{{article.articleId}},{{../user.user_id}})"><img
                                        class="heart" src="./image/heart.jpg"><span
                                        class="like_{{article.articleId}}"> × {{article.likes}}</span>
                                </button>


                                <button class="comment_btn" title=" Comment"
                                        onclick="fetchAndShowComments({{article.articleId}},{{../user.user_id}})"><img
                                        class="comment"
                                        src="./image/comment_icon.jpg">

                                </button>

                                <button class="delete_btn" title=" Delete article"  data-article-id="{{article.articleId}}"
                                        onclick="deleteArticle(this,{{../user.user_id}})"><img class="delete" src="./image/delete_icon.jpg">
                                </button>
                            </div>

                            <!--                        comment-->
                            <div class="comment_area">
                                <input type="text" id="comment_{{article.articleId}}" class=" input comment_content_{{article.articleId}}" name="content"
                                       placeholder="Say something">
                                <button class="comment_add_btn" title=" Comment"  onclick="addParentComment(this,{{../user.user_id}})"
                                        data-comment-id="{{article.articleId}}">
                                    <img src="./image/add_comment.jpg" class="add_comment"></button>
                            </div>


                            <div class="comments">
                                <div class="comment_insert_area_{{article.articleId}}"></div>

                            </div>

                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>

    {{/if}}
</div>



<script src="./controllers/articleController.js"></script>
<script src="./controllers/commentController.js"></script>

<!-- inport TinyMCE -->
<script src="https://cdn.tiny.cloud/1/9mz89sa84r5t32i6z6k0zjarz88jr93ikemdappru11safi1/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

<script>


    document.addEventListener('DOMContentLoaded', function () {
        // initial TinyMCE editor
        tinymce.init({
            selector: '#myeditor',
            plugins: 'lists link image',
            toolbar: 'undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
        });
    });
</script>
