<div class="blog {{#if user}}grid_3{{else}} grid_2{{/if}}">
    {{#if user}}
    <div class="public_content">{{/if}}


    <div class="sort-area">
        <p>Sort by:</p>
        <button onclick="sortArticles('title')">Title</button>
        <button onclick="sortArticles('date')">Date</button>
        <button onclick="sortArticles('author_name')">Author name</button>
    </div>

    <div class="articles">

        {{#if articles}}

            <div class="showArticles">
                {{#each articles as |article|}}
                    <div class="article">
                        <h2 class="click" onclick="toggleContent(this)">{{article.title}}</h2>
                        <p>By: <em>{{article.author_name}}</em></p>
                        <p class="small_font">{{article.date}}</p>

                        <p class="article_content hidden">{{article.content}}</p>

<!-- --------------------------------like  comment  delete 按钮                       -->
                        <div class="buttons">
<!-- ----------------------------like-->
                            <button class="heart_btn" onclick="likeArticle(event,{{article.articleId}},{{../user.user_id}})"{{#unless ../user}}disabled{{/unless}}><img class="heart" src="./image/heart.jpg"><span class="like_{{article.articleId}}"> × {{article.likes}}</span></button>

                            <!-- ----------------------------comment-->
                            <button class="comment_btn" onclick="fetchAndShowComments({{article.articleId}})" {{#unless ../user}}disabled{{/unless}}><img class="comment" src="./image/comment_icon.jpg"><span > × {{article.comments}}</span></button>




                            <!-- ----------------------------delete-->
                            <button class="delete_btn" {{#unless ../user}}disabled{{/unless}}><img class="delete" src="./image/delete_icon.jpg"></button>
                        </div>

<!-- - -------------------------评论区-->
                        <div class="comment_area" >
                            <input type="text" id="comment_{{article.articleId}}" class=" input" name="content" placeholder="Say something">
                        </div>
                        {{#if comments}}
                            {{#each comments as |comment|}}
                                <div class="comment_content_div">
                                    <img class="commenter_avatar" src="./avatar/{{../user.avatar}}.jpg">
                                    <span>{{comment.commenter_name}}</span>
                                    <button><img src="./image/reply.jpg"> </button>
                                    <p  class="comment_content">{{comment.content}}</p>
                                </div>
                            {{/each}}

                        {{/if}}

                        <div class="comments">

                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>No articles yet</p>
        {{/if}}
    </div>
    {{#if user}}</div>{{/if}}



    {{#if user}}

        <div class="user_profile">

            <div class="user_avatar">
                {{#if user.avatar}}
                    <img src="./avatar/{{user.avatar}}.jpg">
                {{else}}
                    <img src="./image/avatar_profile.jpg">
                {{/if}}
            </div>

            {{#if user.real_name}}
                <p><strong>Real name</strong>: {{user.real_name}}</p>
            {{/if}}

            <p><strong>Username</strong>: {{user.userName}}</p>

            {{#if user.date_of_birth}}
                <p><strong>Date of birth</strong>: {{user.date_of_birth}}</p>
            {{/if}}

            {{#if user.description}}
                <p><strong>About me</strong>: <br>{{user.description}}</p>
            {{/if}}


        </div>

        <div class="user_content">
            <div class="writer"><textarea id="myeditor"></textarea></div>


<!--            <div class="blog_sort2"></div>-->

            <h2>Blogosphere of <em>{{user.userName}}</em></h2>
            <!--------------------------------------------用户文章------todo------先做完主页文章，框架一样复制过来------------->
            {{#if user_articles}}

                <div class="user_articles">
                    {{#each user_articles as |article|}}
                        <div class="article">
                            <h2 class="click" onclick="toggleContent(this)">{{article.title}}</h2>
                            <p>Cooked up in my brain kitchen!</p>
                            <p class="small_font">{{article.date}}</p>

                            <p class="article_content hidden">{{article.content}}</p>
                            <div class="buttons">
                                <button class="heart_btn" onclick="likeArticle(event,{{article.articleId}},{{../user.user_id}})"><img class="heart" src="./image/heart.jpg"><span class="like_{{article.articleId}}"> × {{article.likes}}</span></button>


                                <button class="comment_btn" ><img class="comment" src="./image/comment_icon.jpg"><span> × {{article.comments}}</span></button>

                                <button class="delete_btn" ><img class="delete" src="./image/delete_icon.jpg"></button>
                            </div>

                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>

    {{/if}}
</div>

<script src="https://cdn.tiny.cloud/1/63y2dc6cqm923nybkho0h8xv1swcz2ndtei7di45ujnu2rte/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

<script src="./controllers/articleController.js"></script>
<script src="./controllers/commentController.js"></script>

